@media (min-width: 1920px){
    header {
        margin-left: 16%;
        padding-top: 5%;
    }

    main {
        margin: 7% 3% 6%;
    }

    .social {
        margin-bottom: 15%;
        margin-right: 20%;
    }

    footer{
        height: 100px;
    }

}

@media (max-width: 1200px) {

    header {
        margin-left: 2%;
        padding-top: 3%;
    }

    main {
        margin: 0 3%;
    }

    .text {
        height: 480px;
        padding-top: 5%;
    }

    .text h2 {
        font-size: 2rem;
    }

    .social {
        margin-bottom: 2%;
        margin-right: 6%;
    }

}

@media (max-width: 1024px) {

    header {
        margin-left: 4%;
    }

    main {
        margin: 0 5%;
    }

    .image img {
        width: 530px;
    }

    .text {
        padding-top: 8%;
    }

    .social {
        margin-right: 5%;
        margin-top: 8%;
    }

}

@media (max-width: 768px) {

    header {
        margin-left: 3%;
        padding-top: 8%;
    }

    .header-logo img {
        max-width: 180px;
    }

    .container {
        margin-top: 5%;
    }

    .image img {
        max-width: 460px;
    }

    .text {
        padding-top: 15%;
    }

    .text h2 {
        width: 230px;
        font-size: 1.3rem;
    }

    .text p {
        width: 240px;
        font-size: 0.8rem;
    }

    .btn {
        font-size: 0.8rem;
    }

    .btn a {
        padding: 10px 45px;
    }

    .social {
        margin-top: 11%;
    }

    .social a {
        border: 1px solid;
        width: 30px;
        height: 30px;
    }

    .social i {
        font-size: 13px;
    }
}

@media (max-width: 576px) {

    body {
        background-image: url(../images/bg-mobile.svg);
        background-position: center top;
    }

    header {
        margin-left: 12%;
        padding-top: 5%;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 8%;
    }

    .image img {
        width: 430px;
        padding-top: 15%;
        padding-right: 2%;
    }

    .text {
        text-align: center;
        width: 280px;
        margin-right: 12%;
    }

    .text h2 {
        font-size: 1.5rem;
        width: 280px;
    }

    .text p {
        font-size: 1rem;
        width: 300px;
    }

    .btn {
        font-size: 1rem;
        padding-left: 13%;
    }

    .btn a {
        padding: 12px 80px;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social {
        margin-bottom: 15%;
        margin-top: 0;
    }

    .social a {
        margin-left: 10px;
    }

}

@media (max-width: 426px) {

    header {
        margin-left: 4%;
    }

    .image img {
        width: 390px;
        padding-left: 1%;
    }

    .text {
        margin-right: 14%;
    }

    .btn {
        padding-left: 12%;
    }

}

@media (max-width: 376px) {

    header {
        margin-left: 8%;
    }

    main {
        margin: 0;
        width: 90%;
    }

    .container {
        margin-left: 7%;
    }

    .image img {
        width: 330px;
        padding-left: 5%;
    }

    .text {
        margin-right: 10%;
    }

    .social {
        margin-right: 7%;
    }

}